---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
---

<BaseLayout>
  <Nav />
  <main class="flex min-h-screen items-center justify-center">
    <h1 class="font-display text-5xl text-accent">
      saadiq.xyz
    </h1>
  </main>
</BaseLayout>
