---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import Tracks from "../components/Tracks.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Stats />
    <Tracks />
  </main>
</BaseLayout>
