---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import WhyNotThem from "../components/WhyNotThem.astro";
import Tracks from "../components/Tracks.astro";
import NewsletterPreview from "../components/NewsletterPreview.astro";
import AboutSection from "../components/AboutSection.astro";
import FooterCTA from "../components/FooterCTA.astro";
import StatusBar from "../components/StatusBar.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Stats />
    <WhyNotThem />
    <Tracks />
    <NewsletterPreview />
    <AboutSection />
    <FooterCTA />
  </main>
  <StatusBar />
</BaseLayout>
